@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bgcustombtn {
    background: linear-gradient(to right, #6366f1, #a855f7, #ec4899);
  }
  .bgpeer{
    background-color: rgb(209 213 219 / var(--tw-bg-opacity)) 
  }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
     background-color: rgba(114, 16, 227, 0.672);
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.Container{
    text-align: center;
    margin-top: 360px;
  
  }
  .btn0{
    width: 100%;
    border: 1px solid rgb(255, 90, 255);
    /* background: linear-gradient(to right, hsl(46, 100%, 54%), #ebe725, #fbff00); */
    background: linear-gradient(to right, #6366f1, #a855f7, #ec4899);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    
  }
  .btn1,.btn2{
    /* color: rgb(175, 10, 175); */
    color: rgb(255, 255, 7);
  }
  .btn3,.btn4{
    color: #fff;
  }
  .btn1:hover,.btn2:hover{
    /* color: rgb(255, 255, 7); */
    color: rgb(175, 10, 175);
  }
  .btn3:hover,.btn4:hover{
    color: #3498db;
  }
  .btn0::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    /* background: linear-gradient(to right, #6366f1, #a855f7, #ec4899); */
    background: linear-gradient(to right, hsl(39, 100%, 54%), #ebe725, #fbff00);
    transition: 1s;
    z-index: -1;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn3::before,.btn4::before{
    height: 180%;
  }
  .btn1:hover::before,.btn2:hover::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before{
    height: 0%;
  }

  .btn-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  .btn-disabled::before {
    height: 0%; /* Prevent the hover effect */
  }
  
  .btn-disabled:hover, .btn-disabled:hover::before {
    color: rgb(255, 255, 7); /* Retain the default color on hover */
    height: 0%; /* Prevent hover effect */
  }





  
  .link1 {
    /* Other styles */
    transition: color 0.5s ease-in-out;
  }
  .navlink {
    /* Other styles */
    transition: color 0.05s ease-in-out;
  }


.profile-button {
  background: none;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
}
.profile-button:hover {
  color: white;
}
.profile-button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(123,73,179,1) 29%, rgba(209,46,233,1) 100%);
  z-index: -1;
  transition: transform 0.8s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6 , 0.4, 0.7);
}
.profile-button1::before{
  transform: scaleX(0);
}
.profile-button1:hover::before{
  transform: scaleX(1);
}